{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit" name="btnSearch">Submit</button>
    {{ form_end(form) }}
{% endblock %}